.bold {
    font-weight: bold;
}

.left{
    display: flex;
    align-items: center;
    a[data-active='true'] {
        color: white;
    }
    a{
        padding: 0.5rem 1rem;
        border-radius: 3px;
        border: 1px solid var(--geist-foreground);
    }
    a {
        text-decoration: none;
        color: var(--geist-foreground);
        display: inline-block;
    }
    p {
        display: inline-block;
        font-size: 13px;
        padding-right: 1rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}


.right {
    display: flex;
    margin-left: auto !important;
    align-items: center;
    p {
        display: inline-block;
        font-size: 13px;
        margin-right: 1rem;
    }
    a {
        border: 1px solid var(--geist-foreground);
        padding: 0.5rem 1rem;
        border-radius: 3px;
    }
    button {
        border: none;
    }
}

.accountNameHeader{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.loginLink{
    display: block;
}

@media only screen and (max-width: 830px) {
    .left {
      a:not(:first-child) {
        display: none;
      }
    }
    .right{
        a {
            display: none;
        }
        .loginLink{
            display: block;
        }
    }

}
// @media (min-width: 831px) {
//     .mobileMenu{
//         display: none;
//     }
// }

.nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 3.5rem;
    align-items: center;
    border-bottom : 1px black solid;
    background-color : black;
    color : white;
    transition: width 2s;
    transition-delay: 1s;
    a:hover{
      color : #509ef2;
    }
    min-width: 390px;
  }
